body {
    background: url("background.jpg"), white;
    background-size: cover;
}
h1 {
    text-align: center;
}
#difficultyGrid {
    display: grid;
    height: 50px;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}
.difficultyBtn {
    border: 40px, black;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    height: 100%;

    transition: all;
    transition-duration: 300ms;
}
.difficultyHidden {
    filter: brightness(0.4);
}
.gameScreen {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}
.gameField {
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.clickField {
    position: relative;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    border-width: 0px;
    border-radius: 20%;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(127, 127, 64, 0.4);
}
.centring {
    display: flex;
    justify-content: center;
}
#mainGameScreen {
    position: relative;
    width: 80vmin;
    padding-bottom: 80vmin;
}
#easyBtn {
    background-color: green;
}
#normalBtn {
    background-color: orange;
}
#hardBtn {
    background-color: red;
}
#register {
    text-align: center;
    color: blue;
}
#login {
    text-align: center;
    color: blue;
}